
.home-page {
  .text-zone {
    width: 60%;
    // max-height: 90%;

    position:absolute;
    left: 10%;
    top: 20%;
    // display: flex; // wont work ie. clashes
    // flex-direction: column;

    h1 {
      color: var(--white);
      font-size: 6em;
      letter-spacing: .05em;
      font-family: 'Plus Jakarta Sans',sans-serif;
      margin: .1em 0em;
      .abelroy {
        color: var(--color-acc);
        font-size: 1.2em;
      }
    }
    .title-desc {
      color: var(--light-white);
      font-size: 2em;
      margin-top: -50px;
      font-family: 'JetBrains Mono', monospace;
    }
  }
}